body {
    background-color: beige;
    margin: 0;
}

header {
    display: flex;
    background-color: lightblue;
    position: fixed;
    width: 100%;
    top: 0;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}